html, body{
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.section .container{
}

.row-full{
  min-height: 100vh;
}

.section-devil-blue{
  background-color: #227093;
}
.section-eyeofnewt{
  background-color: #b33939;
}
.section-palmsprings{
  background-color: #218c74;
}

